.contenedor{
    max-width: 50%;
    margin: 0 auto;
    border: solid 2px;
    color: black;
    padding: 100px;
    background-image: url(fondo.jpeg);
}
.borde{
    border-bottom: solid 3px;
    color: blue;
}
.imagenp{
    display: flex;
    gap: 20px;
}
.nombrepeli{
    display: flex;
    gap: 110px;
    text-align: center;
}
.color{
    color:white;
}
.box a {
    /*el estilo de la caja de ir a inicio de pagina*/
    display: inline-block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.boton-flotante {        /* Esta seccion es para darle estilo al boton flotante */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
}